.nav {
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        60deg,
        rgba(22, 22, 22, 0.9),
        rgba(22, 22, 22, 0.5),
        rgba(22, 22, 22, 0.9)
    );
    width: 100%;
    padding-bottom: 0.5rem;
    align-items: center;
}
.searchcreate {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.searchdiv {
    display: flex;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 2.5rem;
    border-radius: 1rem;
    margin: 1rem;
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    margin: 1rem;
    color: blanchedalmond;
    background-color: rgba(0, 0, 0, 0.699);
    border-color: rgb(30, 189, 210);
}

.create {
    color: blanchedalmond;
    text-decoration: none;
}
.desplegable {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-weight: bold;
}
.multiple {
    color: blanchedalmond;
    background: rgba(47, 79, 79, 0.877);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-weight: bold;
    border-radius: 0.5rem;
}
.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90vw;
}

.multiple option:checked {
    font-weight: bolder;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    color: blanchedalmond;
    background-color: #04054db6;
}
.desplegable {
    background: rgba(255, 235, 205, 0.808);
    color: rgb(39, 68, 68);
    border-radius: 0.5rem;
}
@media (max-width: 1024px) {
    .filters {
        margin-top: 1rem;
        width: 90vw;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .button {
        font-size: 80%;
        width: 10vw;
        height: 4vw;
        border-radius: 50rem;
        margin: 1rem;
        text-decoration: none;
    }
}

@media (max-width: 400px) {
    .searchcreate {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
    }
    .filters {
        margin-top: 1rem;
        width: 90vw;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 3px;
    }
    .button {
        font-size: 60%;
        width: 10vw;
        height: 7vw;
        border-radius: 30%;
        margin: 1rem;
        text-decoration: none;
    }

    .create {
        font-size: 90%;
        filter: drop-shadow(0 0 8px black);
    }
}
