.bg {
    background-color: rgb(0, 0, 0);
}
.error {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    min-width: 320px;
    min-height: 480px;
    background: url(ukauka_transparente.gif);
    background-position: center;
}
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}

.h1 {
    border-radius: 5rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    filter: drop-shadow(0 0 6px white);
    text-align: center;
    font-size: x-large;
    width: 30vh;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background: linear-gradient(
        90deg,
        rgba(51, 11, 11, 0.1),
        rgba(51, 11, 11, 0.35),
        rgba(51, 11, 11, 0.7),
        rgba(51, 11, 11, 0.5),
        rgba(51, 11, 11, 0.35),
        rgba(51, 11, 11, 0.1)
    );
}

.innerbutton {
    background: black;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 15px;
    margin: 0px;
    z-index: 2;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    background: linear-gradient(
        60deg,
        red,
        orange,
        yellow,
        orange,
        red,
        red,
        orange,
        yellow
    );
    background-size: 800%;
    border-radius: 0px;
    filter: blur(8px);
    animation: glow 60s ease-in-out infinite;

    border-radius: 40%;
}

.home {
    width: 30lvw;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(12, 15, 4);
    text-decoration: none;
}

@keyframes glow {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@media (min-width: 340px) {
    .error {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        background: black;
        width: 100lvw;
        height: rem;
    }
    .body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: url(../../assets/ukauka_transparente.gif);
        background-repeat: no-repeat;
        background-position: center;
        min-height: 95vh;
        filter: drop-shadow(0 0 10px black);
    }

    .h1 {
        margin-top: 60px;
        color: rgb(198, 211, 171);
        text-decoration: none;
        text-align: center;
        font-size: medium;
        width: 100vh;
        font-size: x-large;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        background-color: rgba(165, 42, 42, 0.596);
    }

    .innerbutton {
        background: black;
        cursor: pointer;
        border: none;
        padding: 10px 20px;
        font-size: 24px;
        font-weight: bold;
        position: relative;
        border-radius: 15px;
        margin: 0px;
        z-index: 2;
    }

    .home::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -10;
        background: linear-gradient(
            60deg,
            red,
            orange,
            yellow,
            orange,
            red,
            red,
            orange,
            yellow
        );
        background-size: 800%;
        border-radius: 0px;
        filter: blur(8px);
        animation: glow 20s ease-in-out infinite;

        border-radius: 40%;
    }

    .home {
        width: 30lvw;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        color: rgb(12, 15, 4);
        text-decoration: none;
    }
}
