.landing {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    min-width: 320px;
    min-height: 480px;
    background-color: rgb(0, 0, 0);
    background: url(akuaku_fondonegro.gif);
    background-position: center;
}
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}

.h1 {
    color: rgb(198, 211, 171);
    text-decoration: none;
    text-align: center;
    font-size: medium;
    width: 30vh;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.innerbutton {
    background: black;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 15px;
    margin: 0px;
    z-index: 2;
}

.start::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    background: linear-gradient(
        45deg,
        blue,
        magenta,
        orange,
        yellow,
        orange,
        magenta,
        blue,
        magenta,
        orange,
        yellow
    );
    background-size: 800%;
    border-radius: 0px;
    filter: blur(8px);
    animation: glow 60s ease-in-out infinite;

    border-radius: 40%;
}

.start {
    width: 30lvw;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(12, 15, 4);
    text-decoration: none;
}

@keyframes glow {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@media (min-width: 340px) {
    .landing {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        background: black;
        width: 100lvw;
        height: rem;
    }
    .body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: url(https://steamuserimages-a.akamaihd.net/ugc/785232140934287854/BC02F3DDDA6D33B533B2570609936CF56F3A5957/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
        background-repeat: no-repeat;
        background-position: center;
        min-height: 95vh;
        filter: drop-shadow(0 0 10px black);
    }

    .h1 {
        margin-top: 60px;
        color: rgb(198, 211, 171);
        text-decoration: none;
        text-align: center;
        font-size: medium;
        width: 100vh;
        font-size: x-large;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    .innerbutton {
        background: black;
        cursor: pointer;
        border: none;
        padding: 10px 20px;
        font-size: 24px;
        font-weight: bold;
        position: relative;
        border-radius: 15px;
        margin: 0px;
        z-index: 2;
    }

    .start::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -10;
        background: linear-gradient(
            45deg,
            blue,
            magenta,
            orange,
            yellow,
            orange,
            magenta,
            blue,
            magenta,
            orange,
            yellow
        );
        background-size: 800%;
        border-radius: 0px;
        filter: blur(8px);
        animation: glow 60s ease-in-out infinite;

        border-radius: 40%;
    }

    .start {
        width: 30lvw;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        color: rgb(12, 15, 4);
        text-decoration: none;
    }
}
